.filter-form {
  padding: .5rem 0;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5px;
}

.filter-form input {
  border: 1px solid #02ff35;
  border-radius: 4px;
  padding-top: 3px;
  vertical-align: middle;
  font-size: 1rem;
  padding-bottom: 4px;
  line-height: 1.5;
}